@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.center-test {
  text-align: -webkit-center;
}

img {
  transition: all 0.3s ease-in-out; /* アニメーションの速度とイージングを設定 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 8); /* 軽い影をつける */
  border-radius: 10px; /* 角を丸くする */
}

img:hover {
  transform: translateY(-5px); /* ホバー時に画像を少し上に移動 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 2); /* ホバー時に影を強調 */
}
